<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="shared/header :: header('about')"/>
<main>
    <section>
        <div class="title anim-items">
            <div class="main-title">
                О нас
            </div>
        </div>
    </section>
    <section>

    </section>
</main>
<div th:replace="shared/footer :: footer('about')"/>
</body>
</html>