<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="shared/header :: header('index')"/>
<main>
    <section>
        <div class="title anim-items">
            <div class="main-title">
                Заказчики
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
            </div>
            <div class="row">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
            </div>
            <div class="row">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
            </div>
            <div class="row">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
            </div>
            <div class="row">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
                <img th:src="@{/img/blog-list-img-1.jpg}" alt="image">
            </div>
        </div>
    </section>
</main>
<div th:replace="shared/footer :: footer('index')"/>
</body>
</html>
