<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:fragment="footer-css">
        <link href="welcome">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link type="text/css" th:href="@{/css/style.css}">

        <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    </div>
</head>

<body>

<!-- FOOTER SECTION -->
<footer th:fragment="footer(pageName)">
    <div class="container">
        <div>
            <div class="back-to-top">
                <p><a href="#hero"><i class="fas fa-chevron-up"></i></a></p>
            </div>
            <div class="footer__content row">
                <div class="col-3">
                    <a class="nav-link"
                       th:href="@{/}">
                        <img th:src="@{/img/logo_white.svg}" alt="room">
                    </a></p>
                </div>
                <div class="col-3">
                    <p><a href="#">О нас</a></p>
                    <p><a href="#">Рекламодателям</a></p>
                    <p><a href="#">Родителям и ученикам</a></p>
                </div>
                <div class="col-3">
                    <p><a href="#">Вузам</a></p>
                    <p><a href="#">Добавить ВУЗ</a></p>
                    <p><a href="#">Абитуриентам и школьникам</a></p>
                </div>
                <div class="col-3">
                    <p><a href="#">Обратная связь</a></p>
                    <p><a href="#">О создателях</a></p>
                    <p><a href="#">Документы и соглашения</a></p>
                </div>
            </div>
        </div>
        <div class="footer__content row" style="display: flex;justify-content: center">
            <span class="copyrights">Copyright 2022. LYNX</span>
        </div>
    </div>
</footer>
</body>
</html>